{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Bosh sahifaga hush kelibsiz!</title>
{% endblock title %}


{% block content %}
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container" >
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="search__inner">
                                <form action="#" method="get">
                                    <input placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div class="shopping__cart">
                <div class="shopping__cart__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="shp__cart__wrap">
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="images/product-2/sm-smg/1.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$105.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="images/product-2/sm-smg/2.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">Brone Candle</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$25.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shoping__total">
                        <li class="subtotal">Subtotal:</li>
                        <li class="total__price">$130.00</li>
                    </ul>
                    <ul class="shopping__btn">
                        <li><a href="cart.html">View Cart</a></li>
                        <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/4.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner">
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="index.html">Home</a>
                                  <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                  <span class="breadcrumb-item active">Blog Details</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Blog Details Area -->
        <section class="htc__blog__details bg__white ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <div class="htc__blog__details__wrap">
                            <div class="ht__bl__thumb">
                                <img src="images/blog/big-images/1.jpg" alt="blog images">
                            </div>
                            <div class="bl__dtl">
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example,</p>

                                <p>which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?”</p>
                                <blockquote>
                                    No one rejects, dislikes, or avoids pleasure itself, because it pleasure, but because those who do not know how to pursue pleasure ratinally encounter consequences that are.But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. 
                                </blockquote>

                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="bl__img">
                                            <img src="images/blog/md-img/1.jpg" alt="blog images">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="bl__img">
                                            <img src="images/blog/md-img/2.jpg" alt="blog images">
                                        </div>
                                    </div>
                                </div>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            </div>
                            <!-- Start Comment Area -->
                            <div class="htc__comment__area">
                                <h4 class="title__line--5">HAVE 2 COMMENTS</h4>
                                <div class="ht__comment__content">
                                    <!-- Start Single Comment -->
                                    <div class="comment">
                                        <div class="comment__thumb">
                                            <img src="images/comment/1.png" alt="comment images">
                                        </div>
                                        <div class="ht__comment__details">
                                            <div class="ht__comment__title">
                                                <h2><a href="#">JOHN NGUYEN</a></h2>
                                                <div class="reply__btn">
                                                    <a href="#">reply</a>
                                                </div>
                                            </div>
                                            <span>July 15, 2016 at 2:39 am</span>
                                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
                                        </div>
                                    </div>
                                    <!-- End Single Comment -->
                                    <!-- Start Single Comment -->
                                    <div class="comment comment--reply">
                                        <div class="comment__thumb">
                                            <img src="images/comment/2.png" alt="comment images">
                                        </div>
                                        <div class="ht__comment__details">
                                            <div class="ht__comment__title">
                                                <h2><a href="#">JOHN NGUYEN</a></h2>
                                                <div class="reply__btn">
                                                    <a href="#">reply</a>
                                                </div>
                                            </div>
                                            <span>July 15, 2016 at 2:39 am</span>
                                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
                                        </div>
                                    </div>
                                    <!-- End Single Comment -->
                                    <!-- Start Single Comment -->
                                    <div class="comment">
                                        <div class="comment__thumb">
                                            <img src="images/comment/3.png" alt="comment images">
                                        </div>
                                        <div class="ht__comment__details">
                                            <div class="ht__comment__title">
                                                <h2><a href="#">JOHN NGUYEN</a></h2>
                                                <div class="reply__btn">
                                                    <a href="#">reply</a>
                                                </div>
                                            </div>
                                            <span>July 15, 2016 at 2:39 am</span>
                                            <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
                                        </div>
                                    </div>
                                    <!-- End Single Comment -->
                                </div>
                            </div>
                            <!-- End Comment Area -->
                            <!-- Start comment Form -->
                            <div class="ht__comment__form">
                                <h4 class="title__line--5">Leave a Comment</h4>
                                <div class="ht__comment__form__inner">
                                    <div class="comment__form">
                                        <input type="text" placeholder="Name *">
                                        <input type="email" placeholder="Email *">
                                        <input type="text" placeholder="Website">
                                    </div>
                                    <div class="comment__form message">
                                        <textarea name="message"  placeholder="Your Comment"></textarea>
                                    </div>
                                </div>
                                <div class="ht__comment__btn--2 mt--30">
                                    <a class="fr__btn" href="#">Send</a>
                                </div>
                            </div>
                            <!-- End comment Form -->
                            
                        </div>
                    </div>  
                </div>
            </div>
        </section>
        <!-- End Blog Details Area -->
       {% endblock %}